{
  "endOfLine": "lf",
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "none",
  "quoteProps": "as-needed",
  "bracketSpacing": true,
  "arrowParens": "always",
  "printWidth": 80
}
